<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buuyou.buuyoucard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/buuyoulogo"
        android:label="布优点卡"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.buuyou.main.Mylogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.buuyou.main.Findpassword" />
        <activity android:name="com.buuyou.fragment.BlankFragment" />
        <activity android:name="com.buuyou.MineSbu.BasicInfo" />
        <activity android:name="com.buuyou.MineSbu.ExchangeEmail" />
        <activity android:name="com.buuyou.MineSbu.ExchangePhone" />
        <activity android:name="com.buuyou.MineSbu.AccountInfo" />
        <activity android:name="com.buuyou.MineSbu.SafeCenter" />
        <activity android:name="com.buuyou.MineSbu.ChangeSafeCode" />
        <activity android:name="com.buuyou.MineSbu.Authentication" />
        <activity android:name="com.buuyou.MineSbu.LoginLog" />
        <activity android:name="com.buuyou.MineSbu.AboutBuu" />
        <activity android:name="com.buuyou.MineSbu.ChannelRate" />
        <activity android:name="com.buuyou.MineSbu.Updata" />
        <activity android:name="com.buuyou.MineSbu.Changepassword" />
        <activity android:name="com.buuyou.main.Watchdetail" />
        <activity android:name="com.buuyou.firstpageson.Businessinfo" />
        <activity android:name="com.buuyou.firstpageson.Shortcut" />
        <activity android:name="com.buuyou.firstpageson.ordermanagerment.Order" />
        <activity android:name="com.buuyou.firstpageson.consignmentCard.ConsignSearch" />
        <activity android:name="com.buuyou.firstpageson.consignmentCard.Consign" />
        <activity android:name="com.buuyou.firstpageson.ChannelAnalyse" />
        <activity android:name="com.buuyou.firstpageson.Transactioninfo" />
        <activity android:name="com.buuyou.firstpageson.MoneyInfo" />
        <activity android:name="com.buuyou.firstpageson.ordermanagerment.OrderSearch_success" />
        <activity android:name="com.buuyou.firstpageson.ordermanagerment.OrderSearch_fail" />
        <activity android:name="com.buuyou.firstpageson.ordermanagerment.OrderSearching" />
        <activity android:name="com.buuyou.firstpageson.financemanage.Finance"></activity>
    </application>

</manifest>
